/* Status für Gegnerfelder */
.cell.water { background-color: #3498db !important; } /* Blau */

.cell.circle { 
    position: relative;
    background-color: #fff;
}
.cell.circle::after {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    border: 3px solid #f1c40f; /* Gelber Kreis */
    border-radius: 50%;
    top: 2px;
    left: 2px;
}

.cell.cross { 
    position: relative;
    background-color: #fff;
}
.cell.cross::after {
    content: "✕";
    position: absolute;
    color: #e74c3c; /* Rotes Kreuz */
    font-weight: bold;
    font-size: 20px;
    top: -2px;
    left: 4px;
}

#ship-counter {
    font-weight: bold;
    color: #2ecc71;
    margin: 10px 0;
}

.save-btn {
    background-color: #f39c12;
    font-weight: bold;
    margin-top: 10px;
}
